{% extends "base.html" %}
{% block content %}
  {% if auth|not-empty %}
    <div class="row">
      <div class="span12">
        <form method="POST" action="/{{auth.username}}">
          {% csrf-field %}
          <p>
              Tweet:
              <textarea class="form-control" rows="4" cols="50"
                    name="text">{{text}}</textarea>
          </p>
          {% if errors.text %}
            <div class="alert alert-danger">{{errors.text|join}}</div>
          {% endif %}
          <input type="submit" class="btn btn-primary" value="Send" />
        </form>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-12">
      <ul class="messages">
          {% for tweet in tweets|sort-by-reversed:id %}
          <li>
              <div><a href="{{servlet-context}}/{{tweet.username}}"><b>{{tweet.username}}</b></a>
                {{tweet.posted_date|date:"dd-MM-yyyy HH:mm"}}</div>
              <p>{{tweet.text}}</p>
              {% if auth|not-empty %}
                <input type="button" data-id="{{tweet.id}}" class="btn btn-danger" value="Delete" />
              {% endif %}
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block page-scripts %}
  {% if auth|not-empty %}
    <script>
      function deleteTweet(id) {
        var csrf = $("#__anti-forgery-token");
        $.ajax({
          url: "/{{auth.username}}/" + id,
          type: "DELETE",
          data: {"__anti-forgery-token": csrf.attr("value")},
          success: function(result) {
            location.reload();
          }
        });
      }

      $(document).ready(function() {
        $(":button").click(function() {
           var id = $(this).data('id');
           deleteTweet(id);
        });
      });
    </script>
  {% endif %}
{% endblock %}
